<ul class="uk-navbar-nav">
    <li><a href="/">
        <span uk-icon="icon: home"></span>&nbsp;Home
    </a></li>
    <li><a href="/docs.html">
        <span uk-icon="icon: lifesaver"></span>&nbsp;Documentation
    </a></li>
    <li><a href="/changelog.html">
        <span uk-icon="icon: history"></span>&nbsp;Changelog
    </a></li>
</ul>
<div class="uk-navbar-item">
    <a href="/download" class="uk-button uk-button-primary tm-button-default uk-icon">
        <span uk-icon="icon: cloud-download"></span>&nbsp;
        Download
    </a>
</div>
