<!DOCTYPE html>
<html lang="en">
<head>
    {% include header.html %}
</head>
<body>
<div id="header" class="uk-navbar-container tm-navbar-container">
    <div class="uk-container uk-background-primary uk-container-expand">
        <nav class="uk-navbar-container uk-light uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-left">
                <a href='{{ "/" | absolute_url }}' class="uk-navbar-item">
                    <img src='{{ "/assets/img/explogo.png" | absolute_url }}' alt="eXpansion" style="height: 75%">
                </a>
            </div>
            <div class="uk-navbar-right">
                {% include main_menu.html %}
            </div>
        </nav>
    </div>
</div>


<main id="content" role="main" class="uk-margin-no-top">

        <div class="uk-container uk-container-expand">
            <div class="uk-grid" uk-grid>
                <div class="uk-width-1-5@s uk-background-muted uk-dark smallpadding">
                    {% include docs_admin_menu.html %}
                </div>

                <div class="uk-width-expand@s uk-background-default uk-padding doc-content" id="documentation">
                    {{ content }}
                </div>

                <div class="uk-width-1-6@l uk-width-1-5@m uk-visible@l">
                    <div uk-sticky="offset: 100; width-element: #doc_nav_container; bottom: true">
                        <div id="doc_nav">

                        </div>

                        <hr/>

                        <ul class="uk-nav uk-nav-default">
                            <li>
                                <a href='https://github.com/eXpansionPluginPack/eXpansionPluginPack.github.io/tree/master/{{ page.path }}'
                                   target="_blank">
                                    <span uk-icon="icon: pencil" class="uk-margin-small-right uk-icon"></span>
                                    Edit this page
                                </a>
                            </li>
                            <li>
                                <a href='https://github.com/eXpansionPluginPack/eXpansionPluginPack.github.io/issues/new?title=Page : {{ page.path }}'
                                   target="_blank">
                                    <span uk-icon="icon: warning" class="uk-margin-small-right uk-icon"></span>
                                    Report issue
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

</main>

{% include footer.html %}
</body>
</html>
