<!DOCTYPE html>
<html lang="en">
<head>
    {% include header.html %}
</head>
<body>

<div class="uk-text-center uk-card uk-background-primary uk-card-body uk-padding-remove-bottom">
    <img src='{{ "/assets/img/expansion.png" | absolute_url }}' alt="eXpansion"/>
    <div class="uk-navbar-container">
        <div class="uk-container uk-background-primary uk-container-expand">
            <nav class="uk-navbar-container uk-light uk-navbar-transparent" uk-navbar>
                <div class="uk-navbar-center">
                    {% include main_menu.html %}
                </div>
            </nav>
        </div>
    </div>
</div>

<main id="content" role="main" class="uk-background-default uk-padding-large-bottom ">
    <div class="uk-padding">
        {{ content }}
    </div>
</main>

{% include footer.html %}
</body>
</html>
